
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color:rgb(233, 229, 229);
}
.bolu {
    font-size: 50px;
    color: blueviolet;
    font-weight: bolder;
    font-family:Arial; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-menu {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.menu:hover {
    background-color:white;
    color: blueviolet;
}

p {
    font-size:18px;
    font-family: Arial;
}

.jomi {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.tolu {
    background:white;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.price {
    font-size: 20px; 
}

.more {
    margin-top: 10px;
    background-color: blueviolet;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: arial;
}

.para {
    font-size: 18px;
    font-family: Arial;
    line-height: 23px;
    font-weight: 600;
}